_assets/ptifs/*.tiff filter=lfs diff=lfs merge=lfs -text
_assets/tiffs/*.tiff filter=lfs diff=lfs merge=lfs -text
_assets/pds/*.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/*.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/*.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/*.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/ptifs/14.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/tiffs/11.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/tiffs/15.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/tiffs/8.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/ptifs/11.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/ptifs/12.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/ptifs/15.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/ptifs/8.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/tiffs/12.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/tiffs/14.tiff filter=lfs diff=lfs merge=lfs -text
_assets/test/acorns/11.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/acorns/12.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/acorns/14.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/acorns/15.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/acorns/8.acorn filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/20.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/8.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/11.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/12.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/15.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/17.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/19.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/14.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/16.psd filter=lfs diff=lfs merge=lfs -text
_assets/test/psds/18.psd filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.acorn filter=lfs diff=lfs merge=lfs -text
