---
layout: default
---
  
<div id="viewer"></div>


<script type="text/javascript">
  $(function() {
    Mirador({
      id: "viewer",
      data: [
        { manifestUri: "http://fauvel.archivengine.com/manifest.json", location: "Digital Fauvel IIIF Server" }
      ],

      windowObjects: [{
        loadedManifest: "http://fauvel.archivengine.com/manifest.json",
        canvasID: "http://fauvel.archivengine.com/canvas/Br",
        viewType: "BookView",
        annotationLayer: true,
        annotationCreation: true
      }],

      annotationEndpoint: {
        name:"Local Storage",
        module: "LocalStorageEndpoint"
      },

      "windowSettings": {
         "canvasControls": { // The types of controls available to be displayed on a canvas
           "imageManipulation" : {
             "manipulationLayer" : true,
             "controls" : {
               "mirror" : true
             }
           }
         }
       }
     });
  });
</script>